.list-answer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-answer button{
    border: none;
    border-radius: 8px;
    color: white;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
}
.list-answer button:nth-child(1){
    background: blue;
}
.list-answer button:nth-child(2){
    background: red;
}
.list-answer button:nth-child(3){
    background: gold;
}
.list-answer button:nth-child(4){
    background: green;
}
.box-display-score{
    border-radius: 10px;
    background: rgb(76, 150, 51);
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box-display-score p {
    color: white;
    font-weight: 600;
    font-size: x-large;
}
.box-display-score button{
    height: 50px;
    width: 150px;
    border: none;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
